<footer class="footer">
  <p>© 2025 CJSON authors – CJSON is a JCoder Ltd project</p>
  <p>This page was adapted from <a href="https://gitlab.com/antora/antora-ui-default">Antora's default UI</a>. The source code for this UI is licensed under the terms of the MPL-2.0 license.</p>
</footer>
